<div id="carouselExampleControls" class="carousel slide container" data-ride="carousel" style="width: 50rem; margin: 0 auto">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="container bg-dark">
            <div class="card" style="width: 35rem">
                <div class="card-body">
                    <h5 class="card-title">Trap Disneyland</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Travis Scott - "Stargazing"</h6>
                    <p class="card-text">If you could go to a theme park based on any rapper, would you pick Travis Scott? "Stargazing" makes a strong case for it. Space broadcast synths and wobbly baselines, teenagers will be singing, popping bunk tabs on the festival circuit for years to come.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    <iframe src="https://open.spotify.com/embed/track/7wBJfHzpfI3032CSD7CE2m" width="500" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="container bg-dark">
            <div class="card" style="width: 35rem">
                <div class="card-body">
                    <h5 class="card-title">Trap Disneyland</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Travis Scott - "Stargazing"</h6>
                    <p class="card-text">If you could go to a theme park based on any rapper, would you pick Travis Scott? "Stargazing" makes a solid case for it. Space broadcast synths and wobbly baselines, teenagers will be singing along, popping bunk tabs on the festival circuit for years to come.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    <iframe src="https://open.spotify.com/embed/track/7wBJfHzpfI3032CSD7CE2m" width="500" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-item">
    <div class="container bg-dark">
        <div class="card" style="width: 35rem">
            <div class="card-body">
                <h5 class="card-title">Trap Disneyland</h5>
                <h6 class="card-subtitle mb-2 text-muted">Travis Scott - "Stargazing"</h6>
                <p class="card-text">If you could go to a theme park based on any rapper, would you pick Travis Scott? "Stargazing" makes a solid case for it. Space broadcast synths and wobbly baselines, teenagers will be singing along, popping bunk tabs on the festival circuit for years to come.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
                <iframe src="https://open.spotify.com/embed/track/7wBJfHzpfI3032CSD7CE2m" width="500" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>