<section id="index-section">
    <div class="tagline-flex">
        <h1 class="logo max-tagline">Find music</h1>
        <h1 class="logo max-tagline">Share music</h1>
    </div>
    <img class="index-image" src="/images/vinylrecrop.jpg" alt="Photo by Jamakassi from Unsplash">
</section>