<h1>Log In</h1>

<form action="/sign-in" method="post">
    <input type="text" name="email" id="email" placeholder="Email">
    <input type="password" name="password" id="password" placeholder="Password">
    <input type="submit" class="go-button" value="Go">
</form>