$input-height: 28px;
$input-width: 140px;
$border-radius: 5px;

input {
    height: $input-height;
    width: $input-width;
    border-radius: $border-radius;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

.go-button {
    width: 40px;
    background: forestgreen;
    color: gold;
}