$input-height: 28px;
$input-width: 140px;
$border-radius: 5px;

input {
    height: $input-height;
    width: $input-width;
    border-radius: $border-radius;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
    font-weight: bold;
}

.go-button {
    width: 40px;
    background: forestgreen;
    color: gold;
    height: 34.5px;
}

.go-button-post {
    width: 40px;
    height: 34.5px;
    background: forestgreen;
    color: gold;
}

.post-body {
    width: 301px;
    height: 150px;
    text-align: start;
    border-radius: $border-radius;
    margin: 5px;
    color: grey;
    border-color: grey;
    font-family: 'Open Sans', sans-serif;
}

// select {
//     height: $input-height;
//     width: 120px;
//     border-radius: $border-radius;
//     color: grey;
//     font-family: 'Open Sans', sans-serif;
//     margin: 5px;
// }

//MULTI-SELECT

#multiboys {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.multiselect {
    width: 180px;
    margin: 5px;
    height: 34.5px;
}
  
.selectBox {
    position: relative;
}
  
.selectBox select {
    width: 100%;
    font-weight: bold;
    height: 34.5px;
    color: grey;
}
  
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
  
.checkboxes {
    display: none;
    border: 1px #dadada solid;
}

.check-option {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    input {
        width: 20px;
        margin-left: 3px;
    }

    p {
        margin: 8px 0;
    }
}

.check-option:hover {
    background-color: #1e90ff;
}